<mat-toolbar>
  <span><img src="/assets/logo.svg" alt="Logo" width="50"></span>
  <span class="spacer"></span>
  <a mat-button routerLink="/">Accueil</a>
  <a mat-button routerLink="/">A propos</a>
  <a mat-button routerLink="/">Tarifs</a>
  <a mat-button routerLink="/">Blog</a>
  <a mat-button routerLink="/">Info</a>

  <span class="spacer"></span>
  <a mat-button class="btn" id="ins" routerLink="/login">
    <span>Connexion</span>
  </a>

  <!-- <button mat-button class="btn" id="con"><span>Inscription</span></button> -->
</mat-toolbar>
