<div class="cards-container">
  <div class="card">
    <img src="assets/nsimg1.png" alt="Illustration 1">
    <div><span id="jour">5 jours </span><span id="lieu">2 lieux</span></div>
    <h5 id="sej">Séjour romantique à  Paris</h5>
    <p id="price">De <span>531$</span> par personne</p>
    <p id="extra">Incl. transfert, activité & hotel</p>
  </div>
  <div class="card">
    <img src="assets/nsimg1.png" alt="Illustration 2">
    <div><span id="jour">5 jours </span><span id="lieu">2 lieux</span></div>
    <h5 id="sej">Séjour romantique à  Lisbonne</h5>
    <p id="price">De <span>531$</span> par personne</p>
    <p id="extra">Incl. transfert, activité & hotel</p>
  </div>
  <div class="card">
    <img src="assets/nsimg1.png" alt="Illustration 3">
    <div><span id="jour">5 jours </span><span id="lieu">2 lieux</span></div>
    <h5 id="sej">Séjour romantique à  Rome</h5>
    <p id="price">De <span>531$</span> par personne</p>
    <p id="extra">Incl. transfert, activité & hotel</p>
  </div>
  <div class="card">
    <img src="assets/nsimg1.png" alt="Illustration 3">
    <div><span id="jour">5 jours </span><span id="lieu">2 lieux</span></div>
    <h5 id="sej">Séjour romantique à  Kyoto</h5>
    <p id="price">De <span>531$</span> par personne</p>
    <p id="extra">Incl. transfert, activité & hotel</p>
  </div>
</div>
