<app-navbar></app-navbar>
<div class="background-wave">
  <svg viewBox="0 0 1440 220" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
    <path d="M0,120 C360,220 1080,0 1440,120 L1440,0 L0,0 Z" fill="#0CBD81" fill-opacity="0.18"/>
    <path d="M0,180 C480,80 960,280 1440,180 L1440,0 L0,0 Z" fill="#0CBD81" fill-opacity="0.12"/>
  </svg>
</div>
<div class="background-wave-vertical left">
  <svg viewBox="0 0 220 1440" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
    <path d="M120,0 C220,360 0,1080 120,1440 L0,1440 L0,0 Z" fill="#0CBD81" fill-opacity="0.14"/>
    <path d="M180,0 C80,480 280,960 180,1440 L0,1440 L0,0 Z" fill="#0CBD81" fill-opacity="0.08"/>
  </svg>
</div>
<img class="travel-image" src="assets/nsimg1.png" alt="Image du voyage" />
<div class="travel-detail-container">
  <div class="travel-detail-card">
    <h1 class="travel-title">Séjour romantique à  Paris</h1>
    <p class="travel-description">Séjour en amoureux. Découvrez des paysages incroyables et vivez une expérience inoubliable.</p>
    <span class="travel-dates"><strong>Dates :</strong> 01/07/2025 - 15/07/2025</span><br />
    <span class="travel-price"><strong>Prix :</strong> 1200 €</span>
    <div class="travel-action">
      <button>Réserver</button>
    </div>
  </div>
  <div class="background-wave bottom-wave">
  <svg viewBox="0 0 1440 220" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" style="transform: rotate(180deg);">
    <path d="M0,120 C360,220 1080,0 1440,120 L1440,0 L0,0 Z" fill="#0CBD81" fill-opacity="0.18"/>
    <path d="M0,180 C480,80 960,280 1440,180 L1440,0 L0,0 Z" fill="#0CBD81" fill-opacity="0.12"/>
  </svg>
</div>
</div>
<div class="background-wave-vertical right">
  <svg viewBox="0 0 220 1440" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
    <path d="M100,0 C0,360 220,1080 100,1440 L220,1440 L220,0 Z" fill="#0CBD81" fill-opacity="0.14"/>
    <path d="M40,0 C140,480 -60,960 40,1440 L220,1440 L220,0 Z" fill="#0CBD81" fill-opacity="0.08"/>
  </svg>
</div>
<app-footer></app-footer>