<div class="footer">
    <div class="footer-content">
      <div class="footer-newsletter">
        <div id="acc">
            <h2>Nous oubliez pas !!!</h2>
            <p>Inscrivez-vous à notre newsletter pour</p>
            <p>découvrir nos nouvelles fonctionnalités.</p>
        </div>
        <div class="newsletter">
          <h2>Entrez votre email</h2>
          <form action="">
              <input type="email" placeholder="Entrez votre adresse e-mail" required>
              <br>
              <button mat-button type="submit">S'inscrire à la newsletter</button>
          </form>
        </div>
      </div>
        <div class="footer-links">
            <a href="#">Contactez-nous</a>
            <a href="#">Conditions</a>
            <a href="#">Politique de confidentialité</a>
            <a href="#">Politique de cookies</a>
        </div>
        <div class="footer-logo">
            <p>Next step © 2025, Tous droits réservés.</p>
        </div>
    </div>
  <!-- <div class="footer-socials">
    <a href="#"><img src="assets/facebook-icon.png" alt="Facebook"></a>
    <a href="#"><img src="assets/twitter-icon.png" alt="Twitter"></a>
    <a href="#"><img src="assets/instagram-icon.png" alt="Instagram"></a>
  </div> -->
</div>