
<form action="">
  <div class="formsearch">
    <label for="">Localisation</label>
    <br>
    <input matInput type="text" value="" id="custom-input" placeholder="Pays">
  </div>
  <div class="formsearch">
    <label for="">Date</label>
    <br>
    <input mat-datepicker type="date" value="" id="custom-datepicker">
  </div>
  <div class="formsearch">
    <label for="">Nombre de personnes</label>
    <br>
    <div class="counter-box">
      <button mat-button class="addmin">-</button>
      <span>Personne</span>
      <button mat-button class="addmin">+</button>
    </div>
  </div>
  <div class="formsearch" id="row4">
    <button type="button" mat-button>Planifie</button>
    <!-- <button type="button" mat-button>Surprenez-moi</button> -->
  </div>
</form>

<!-- <div class="search-box">
    <mat-form-field appearance="outline">
      <label>Localisation</label>
      <input matInput placeholder="Placeholder">
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <label>Date</label>
      <input matInput placeholder="JJ/MM/AAAA">
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <label>Nombre de personnes</label>
      <div class="counter">
        <button mat-button>-</button>
        <span>Personne</span>
        <button mat-button>+</button>
      </div>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <label></label>
      <br>
      <div>
        <button mat-button class="btn-primary">Planifie</button>
        <button mat-button class="btn-secondary">Surprenez-moi</button>
      </div>
    </mat-form-field>
</div> -->
  